@charset "utf-8";

@font-face {
  font-family: 'CircularSpotifyTxT-Black';
  src: url(assets/fonts/CircularSpotifyTxT-Black/CircularSpotifyTxT-Black.eot);
  src: url(assets/fonts/CircularSpotifyTxT-Black/CircularSpotifyTxT-Black.eot?#iefix) format('embedded-opentype'),
  url(assets/fonts/CircularSpotifyTxT-Black/CircularSpotifyTxT-Black.svg#CircularSpotifyTxT-Black) format('svg'),
  url(assets/fonts/CircularSpotifyTxT-Black/CircularSpotifyTxT-Black.ttf) format('truetype'),
  url(assets/fonts/CircularSpotifyTxT-Black/CircularSpotifyTxT-Black.woff) format('woff'),
  url(assets/fonts/CircularSpotifyTxT-Black/CircularSpotifyTxT-Black.woff2) format('woff2');
}
@font-face {
  font-family: 'CircularSpotifyTxT-Med';
  src: url(assets/fonts/CircularSpotifyTxT-Med/CircularSpotifyTxT-Med.eot);
  src: url(assets/fonts/CircularSpotifyTxT-Med/CircularSpotifyTxT-Med.eot?#iefix) format('embedded-opentype'),
  url(assets/fonts/CircularSpotifyTxT-Med/CircularSpotifyTxT-Med.svg#CircularSpotifyTxT-Med) format('svg'),
  url(assets/fonts/CircularSpotifyTxT-Med/CircularSpotifyTxT-Med.ttf) format('truetype'),
  url(assets/fonts/CircularSpotifyTxT-Med/CircularSpotifyTxT-Med.woff) format('woff'),
  url(assets/fonts/CircularSpotifyTxT-Med/CircularSpotifyTxT-Med.woff2) format('woff2');
}